<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Update the processPath attribute to the dotnet executable, 
           and the arguments attribute to point to your app's DLL. 
           This assumes your app is published. -->
      <aspNetCore processPath="bin\Debug\net7.0\WFSPortal.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <!-- Add additional environment variables here if needed -->
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="2525" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.WebTools.ApiEndpointDiscovery" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="c:\program files\microsoft visual studio\2022\community\common7\ide\extensions\microsoft\web tools\projectsystem\Microsoft.WebTools.ApiEndpointDiscovery.dll" />
          <environmentVariable name="APIDISCOVERY_FILEPATH" value="C:\Users\Rchatterjee\Desktop\wfs-self-support 4\WFSPortal\obj\Debug\net7.0\ApiEndpoints.json" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>