<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Update the processPath attribute to the dotnet executable, 
           and the arguments attribute to point to your app's DLL. 
           This assumes your app is published. -->
      <aspNetCore processPath="dotnet" 
                  arguments=".\WFSPortal.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <!-- Add additional environment variables here if needed -->
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>

