@{
    ViewData["Title"] = "Change Log";
}
<h1>@ViewData["Title"]</h1>

<p>4/17/2024 - Jonathan Ho, Fa Phanachet, Ritu Chatterjee: Built self-service portal with timesheet unapproval functionality and audit log.</p>

