@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostEnv
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Home Page";
    string UserName = Context.User?.Identity.Name ?? "anonymous";
    UserName = UserName.Split('\\').Last();
    UserName = UserName.Split('@').First();
    ViewData["UserName"] = UserName;
}

<div class="text-center">
    <h1 class="display-4">Welcome, @UserName</h1>

    @if ((await AuthorizationService.AuthorizeAsync(User, "WFS_Timesheet")).Succeeded)
    {
        <p>[Username: @UserName, TimeSheet Access: Yes]</p>
    }
    else
    {
        <p>[Group Access: No]</p>
    }

</div>

